## Environment Setup

In [154]:
# import pandas, numpy, seaborn, pyplot
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [155]:
# import train_test_split, RepeatedStratifiedKFold, cross_val_score, LogisticRegression, roc_curve, roc_auc_score,
# confusion_matrix, precision_recall_curve, auc, f_classif, Pipeline, BaseEstimator, TransformerMixin, chi2_contingency
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn import datasets, linear_model 
from sklearn.model_selection import cross_val_score
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import auc
from sklearn.feature_selection import SelectFpr , f_classif
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator , TransformerMixin
from scipy.stats import chi2_contingency
from datetime import date
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

## Import Data

In [156]:
# load the dataset
df = pd.read_csv(r'C:\Users\anshu\Downloads\credit_risk_dataset.csv',low_memory=False)

In [157]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Exploration

In [158]:
# explore the dataset(use the data dictionary)
# look at the columns, which data type is present in a column, range of values in each column, their mean, etc.
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               466256 non-null  float64
 57  tot_coll_amt                 396009 non-null  float64
 58  tot_cur_bal                  396009 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             396009 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(6), object(22)
memory usage: 263.3+ MB

In [160]:
# get a list of columns that have more than 80% null values
df.isna().sum()

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                     ...
all_util            466285
total_rev_hi_lim     70276
inq_fi              466285
total_cu_tl         466285
inq_last_12m        466285
Length: 74, dtype: int64

In [161]:
df.columns[df.isnull().sum() > 0.8]

Index(['emp_title', 'emp_length', 'annual_inc', 'desc', 'title', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_util',
       'total_acc', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [162]:
#Delete columns containing 80% or more than 80% NAN values
perc = 80

In [163]:
min_count =  int(((100 - perc)/100)*df.shape[0] + 1)
df = df.dropna( axis=1, thresh=min_count)

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 56 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  open_acc                     466256 non-null  float64
 30  pub_rec                      466256 non-null  float64
 31  revol_bal                    466285 non-null  int64
 32  revol_util                   465945 non-null  float64
 33  total_acc                    466256 non-null  float64
 34  initial_list_status          466285 non-null  object
 35  out_prncp                    466285 non-null  float64
 36  out_prncp_inv                466285 non-null  float64
 37  total_pymnt                  466285 non-null  float64
 38  total_pymnt_inv              466285 non-null  float64
 39  total_rec_prncp              466285 non-null  float64
 40  total_rec_int                466285 non-null  float64
 41  total_rec_late_fee           466285 non-null  float64
 42  recoveries                   466285 non-null  float64
 43  collection_recovery_fee      466285 non-null  float64
 44  last_pymnt_d                 465909 non-null  object
 45  last_pymnt_amnt              466285 non-null  float64
 46  next_pymnt_d                 239071 non-null  object
 47  last_credit_pull_d           466243 non-null  object
 48  collections_12_mths_ex_med   466140 non-null  float64
 49  mths_since_last_major_derog  98974 non-null   float64
 50  policy_code                  466285 non-null  int64
 51  application_type             466285 non-null  object
 52  acc_now_delinq               466256 non-null  float64
 53  tot_coll_amt                 396009 non-null  float64
 54  tot_cur_bal                  396009 non-null  float64
 55  total_rev_hi_lim             396009 non-null  float64
dtypes: float64(28), int64(6), object(22)
memory usage: 199.2+ MB

In [165]:
# remove duplicate columns
def DuplicateColumns(df):
    duplicatenames = set()
    for x in range(df.shape[1]):
        col = df.iloc[:, x]
        for y in range(x + 1, df.shape[1]):
            othercol = df.iloc[:, y]
            if col.equals(othercol):
                duplicatenames.add(df.colums.values[y])
    return list(duplicatenames)
df = df.drop(columns = DuplicateColumns(df))

In [166]:
list(df)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'total_rev_hi_lim']

In [167]:
# drop redundant(no longer useful) and forward-looking columns
df_drop = df.drop(labels = ['id','member_id','sub_grade','emp_title','url','desc','title','zip_code','total_rec_prncp','total_rec_late_fee','recoveries','collection_recovery_fee','next_pymnt_d'],axis = 1,inplace = True)

In [168]:
# re-explore the dataset
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000,5000,4975.0,36 months,10.65,162.87,B,10+ years,RENT,24000.0,...,171.62,Jan-16,0.0,NaN,1,INDIVIDUAL,0.0,NaN,NaN,NaN
1,2500,2500,2500.0,60 months,15.27,59.83,C,< 1 year,RENT,30000.0,...,119.66,Sep-13,0.0,NaN,1,INDIVIDUAL,0.0,NaN,NaN,NaN
2,2400,2400,2400.0,36 months,15.96,84.33,C,10+ years,RENT,12252.0,...,649.91,Jan-16,0.0,NaN,1,INDIVIDUAL,0.0,NaN,NaN,NaN
3,10000,10000,10000.0,36 months,13.49,339.31,C,10+ years,RENT,49200.0,...,357.48,Jan-15,0.0,NaN,1,INDIVIDUAL,0.0,NaN,NaN,NaN
4,3000,3000,3000.0,60 months,12.69,67.79,B,1 year,RENT,80000.0,...,67.79,Jan-16,0.0,NaN,1,INDIVIDUAL,0.0,NaN,NaN,NaN

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 43 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    466285 non-null  int64
 1   funded_amnt                  466285 non-null  int64
 2   funded_amnt_inv              466285 non-null  float64
 3   term                         466285 non-null  object
 4   int_rate                     466285 non-null  float64
 5   installment                  466285 non-null  float64
 6   grade                        466285 non-null  object
 7   emp_length                   445277 non-null  object
 8   home_ownership               466285 non-null  object
 9   annual_inc                   466281 non-null  float64
 10  verification_status          466285 non-null  object
 11  issue_d                      466285 non-null  object
 12  loan_status                  466285 non-null  object
 13  pymnt_plan                   466285 non-null  object
 14  purpose                      466285 non-null  object
 15  addr_state                   466285 non-null  object
 16  dti                          466285 non-null  float64
 17  delinq_2yrs                  466256 non-null  float64
 18  earliest_cr_line             466256 non-null  object
 19  inq_last_6mths               466256 non-null  float64
 20  mths_since_last_delinq       215934 non-null  float64
 21  open_acc                     466256 non-null  float64
 22  pub_rec                      466256 non-null  float64
 23  revol_bal                    466285 non-null  int64
 24  revol_util                   465945 non-null  float64
 25  total_acc                    466256 non-null  float64
 26  initial_list_status          466285 non-null  object
 27  out_prncp                    466285 non-null  float64
 28  out_prncp_inv                466285 non-null  float64
 29  total_pymnt                  466285 non-null  float64
 30  total_pymnt_inv              466285 non-null  float64
 31  total_rec_int                466285 non-null  float64
 32  last_pymnt_d                 465909 non-null  object
 33  last_pymnt_amnt              466285 non-null  float64
 34  last_credit_pull_d           466243 non-null  object
 35  collections_12_mths_ex_med   466140 non-null  float64
 36  mths_since_last_major_derog  98974 non-null   float64
 37  policy_code                  466285 non-null  int64
 38  application_type             466285 non-null  object
 39  acc_now_delinq               466256 non-null  float64
 40  tot_coll_amt                 396009 non-null  float64
 41  tot_cur_bal                  396009 non-null  float64
 42  total_rev_hi_lim             396009 non-null  float64
dtypes: float64(24), int64(4), object(15)
memory usage: 153.0+ MB

## Identify the target variable

In [170]:
# identify the target variable(target column) no need to code this just identify
#loan_status

In [171]:
# explore the unique values in the target column
df.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [172]:
# create a new column based on the target column that will be our target variable
df['good_bad'] = np.where(df.loc[:, 'loan_status'].isin(['Charged Off', 'Default', 'Late (31-120 days)','Does not meet the credit policy. Status:Charged Off']), 0, 1)

In [173]:
# Drop the original target column
df.drop(columns = ['loan_status'],inplace = True)

## Split Data

In [174]:
# split data into 80/20 while keeping the distribution of bad loans in test set same as that in the pre-split dataset(X_train, y_train, etc)
X = df.drop('good_bad', axis = 1)
y = df['good_bad']

In [175]:
Y

0         1
1         0
2         1
3         1
4         1
         ..
466280    1
466281    0
466282    1
466283    1
466284    1
Name: good_bad, Length: 466285, dtype: int32

In [176]:
X_train, X_test, y_train , y_test = train_test_split(X,y,test_size = 0.2,random_state = 42,stratify = y)
X_train, X_test = X_train.copy(), X_test.copy()

In [177]:
# specifically hard copying the training sets to avoid Pandas' SetttingWithCopyWarning when we play around with this data later on
# you can refer to this link https://github.com/scikit-learn/scikit-learn/issues/8723
# this is currently an open issue between Pandas and Scikit-Learn teams

In [178]:
# create a helper function clean up a column which has values given along with years, assign 0 to NANs and convert to numeric
def emp_length_converter(df, column):
    df[column] = df[column].str.replace('\+ years', '')
    df[column] = df[column].str.replace('< 1 year', str(0))
    df[column] = df[column].str.replace(' years', '')
    df[column] = df[column].str.replace(' year', '')
    df[column] = pd.to_numeric(df[column])
    df[column].fillna(value = 0, inplace = True)

In [179]:
# apply to X_train
emp_length_converter(X_train, 'emp_length')

C:\Users\anshu\AppData\Local\Temp\ipykernel_2160\2621041749.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace('\+ years', '')

In [180]:
# confirm our transformation by looking at unique values of this column
X_train['emp_length'].unique()

array([ 7., 10.,  3.,  4.,  2.,  0.,  1.,  6.,  5.,  8.,  9.])

In [181]:
df.last_pymnt_d.unique()

array(['Jan-15', 'Apr-13', 'Jun-14', 'Jan-16', 'Apr-12', 'Nov-12',
       'Jun-13', 'Sep-13', 'Jul-12', 'Oct-13', 'May-13', 'Feb-15',
       'Aug-15', 'Oct-12', 'Sep-12', nan, 'Dec-12', 'Dec-14', 'Aug-13',
       'Nov-13', 'Jan-14', 'Apr-14', 'Aug-14', 'Oct-14', 'Aug-12',
       'Jul-14', 'Jul-13', 'Apr-15', 'Feb-14', 'Sep-14', 'Jun-12',
       'Feb-13', 'Mar-13', 'May-14', 'Mar-15', 'Jan-13', 'Dec-13',
       'Feb-12', 'Mar-14', 'Sep-15', 'Nov-15', 'Dec-15', 'Jan-12',
       'Oct-15', 'Nov-14', 'Mar-12', 'May-12', 'Jun-15', 'May-15',
       'Jul-15', 'Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11',
       'Jul-11', 'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11',
       'Jan-11', 'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10',
       'Jul-10', 'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10',
       'Jan-10', 'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09',
       'Jul-09', 'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09',
       'Jan-09', 'Dec-08', 'Oct-08', 'Aug-08', 'Jul-08', 'Sep-08',
       'Jun-08', 'May-08', 'Nov-08', 'Apr-08', 'Mar-08', 'Feb-08',
       'Jan-08', 'Dec-07'], dtype=object)

### Date columns

In [182]:
# create a function to convert date columns to datetime format and create a new column as a difference between today and the respective date
# details of the function
    # store current month
    # convert to datetime format
    # calculate the difference in months and add to a new column
    # make any resulting -ve values to be equal to the max date
    # drop the original date column
# Note : In current date use the same data to maintain uniformilty across everyone's code. Use : 2020-08-01

def convert_date_columns(df,column):
    month=df[column].str.split(pat='-',expand = True)[0]
    year='20'+df[column].str.split(pat='-',expand = True)[1]
    date=year+'-'+month+'-'+'01'
    current_date = pd.to_datetime('2020-08-01')
    df['mths_since_'+column]=round((current_date-pd.to_datetime(date))/np.timedelta64(1,'M'))
    df.drop(columns=[column],inplace = True)

In [183]:
# apply to X_train
convert_date_columns(X_train,'last_pymnt_d')
convert_date_columns(X_train,'last_credit_pull_d')
convert_date_columns(X_train,'issue_d')
convert_date_columns(X_train,'earliest_cr_line')

In [184]:
# check these new columns
print(X_train['mths_since_earliest_cr_line'].describe())
print(X_train['mths_since_issue_d'].describe())
print(X_train['mths_since_last_pymnt_d'].describe())
print(X_train['mths_since_last_credit_pull_d'].describe())

count    373003.000000
mean       -398.087517
std         536.013355
min        -952.000000
25%        -900.000000
50%        -771.000000
75%         203.000000
max         247.000000
Name: mths_since_earliest_cr_line, dtype: float64
count    373028.000000
mean         83.252485
std          14.339074
min          68.000000
25%          73.000000
50%          79.000000
75%          89.000000
max         158.000000
Name: mths_since_issue_d, dtype: float64
count    372717.000000
mean         63.289989
std          12.803859
min          55.000000
25%          55.000000
50%          56.000000
75%          67.000000
max         152.000000
Name: mths_since_last_pymnt_d, dtype: float64
count    372998.000000
mean         59.041810
std           9.630887
min          55.000000
25%          55.000000
50%          55.000000
75%          57.000000
max         159.000000
Name: mths_since_last_credit_pull_d, dtype: float64

### Term column

In [185]:
# write a function to remove 'months' string from the 'term' column and convert it to numeric 
# use the function on 'term' column of X_Train
def loan_term_converter(df, column):
    df[column] = pd.to_numeric(df[column].str.replace(' months', ''))

loan_term_converter(X_train, 'term')

## Feature Selection

In [186]:
# first divide training data into categorical and numerical subsets
X_train_cat = X_train.select_dtypes(include = 'object').copy()
X_train_num = X_train.select_dtypes(include = 'number').copy()

## Chi-squared statistic for categorical features

In [187]:
# define an empty dictionary to store chi-squared test results
chi_sq = {}

In [193]:
Xt = X_train_cat.columns.tolist()
print(Xt)

['grade', 'home_ownership', 'verification_status', 'pymnt_plan', 'purpose', 'addr_state', 'initial_list_status', 'application_type']

In [ ]:
# loop over each column in the training set to calculate chi-statistic with the target variable

In [191]:
# convert the dictionary to a DF

In [ ]:
# keep only the top four categorical features

## ANOVA F-Statistic for numerical feature

In [ ]:
# since f_class_if does not accept missing values, we will do a very crude imputation of missing values

In [ ]:
# Calculate F Statistic and corresponding p values

In [ ]:
# convert to a DF

In [ ]:
# keep only the top 20 features and calculate pair-wise correlations between them
# save the top 20 numerical features in a list

## Pair wise correlations to detect multicollinearity

In [ ]:
# calculate pair-wise correlations between them

In [ ]:
# drop 2 features based on their multicollinearity with other features

In [ ]:
# Define a helper function to drop the 4 categorical features with least p-values for chi squared test, 14 numerical features with least F-Statistic
# and 2 numerical features with high multicollinearity

In [34]:
# apply to X_train

## creating dummy variables
### convert discrete variables to dummy variables

In [35]:
# write a function to create dummy variables

In [36]:
# apply to our final four categorical variables

## Update the test data set with all data cleaning procedures performed so far

In [37]:
# also reindex the dummied test set variables to make sure all the feature columns in the train set are also available in the test set

## WoE Binning/Feature Engineering

In [38]:
# we will analyze both categorical and numerical features based on their categorical/binned WoEs and IVs and then combine some of these binned categories together through a custom python class with fit_transform method

In [39]:
# create copies of the 4 training sets(by the names X_train_prepr, y_train_prepr, etc) to be preprocessed using WoE

## analyze WoEs and IVs of discrete features

In [40]:
# write a function that takes 3 arguments: a dataframe (X_train_prepr), a string (column name), and a dataframe (y_train_prepr)
# the function should returns a dataframe as a result

In [41]:
# set the default style of the graphs to the seaborn style.

In [42]:
# define a function for plotting WoE across categories that takes 2 arguments: a dataframe and a number

In [43]:
# apply these on all four categorical columns

In [44]:
# observe graphs of WOE. If there is a continuous increase in WoE across the different categories then we do not need to combine any features together and should leave all these categories as they are

In [45]:
# if there are no missing values in the grade column leave it as it is, otherwise createa a separate and independent category for all Missing values that would never be combined with any other category
# you will come across this scenario when working through features

In [46]:
# define a function to calculate WoE of continuous variables
# this is same as the function we defined earlier for discrete variables
# the only difference are the 2 lines of code that need to be commented in the function that results in the df being sorted by continuous variable values

In [47]:
# apply this on continuous variables

In [48]:
# fine classing using the cut method if there are a large number of unique values

In [49]:
# don't use the features which have
    # very low IV
    # which have unusually high IV
    # WoE ranges between a very small range, implying low power of differentiating between good and bad loans

In [50]:
# if there is a feature for which most of the values are inside a particular range and very few outside then 
    # create one category for values outside that range
    # apply your approach to all other values(which are inside the range)

In [51]:
# for some of the columns values would feel out of place like utilization being greater than 1 in some values which is very rare so filter those out

In [52]:
# while plotting WOE if you have some doubt in curve you can also zoom on some portion to understand the nature of graph in that area

In [53]:
# if the IV is borderline close to the minimum or maximum ideal threshold, you can proceed without ignoring that feature

## Define Custom Class for WoE Binning/Reengineering

In [54]:
# here we will create a custom scikit-learn class to take care of all binning transformations on any given data set
# this custom class will help us in performing k fold cross validation

In [55]:
# create a list of all the reference categories, i.e. one category from each of the global features

In [56]:
# this custom class will create new categorical dummy features based on the cut-off points that we manually identified based on the WoE plots and IV above

In [57]:
# structure this class so that it also allows a fit_transform method to be implemented on it, thereby allowing you to use it as part of a scikit-learn Pipeline

## PD Model

In [58]:
# reconfirm shape of the 4 datasets

In [59]:
# define modeling pipeline

In [60]:
# define cross-validation criteria
# RepeatedStratifiedKFold automatially takes care of the class imbalance while splitting

In [61]:
# fit and evaluate the logistic regression pipeline with cross-validation as defined in cv

In [62]:
# print the mean AUROC score and Gini

In [63]:
# fit the pipeline on the whole training set

In [64]:
# create a transformed training set through our WoE_Binning custom class

In [65]:
# store the column names in X_train as a list

In [66]:
# create a summary table of our logistic regression model(name it summary_table)

In [67]:
# create a new column in the dataframe, called 'Coefficients', with row values the transposed coefficients from the 'LogisticRegression' model

In [68]:
# increase the index of every row of the dataframe with 1 to store our model intercept in 1st row

In [69]:
# assign our model intercept to this new row

In [70]:
# sort the dataframe by index

## Prediction Time!

In [71]:
# make preditions on our test set

In [72]:
# get the predicted probabilities(name it y_hat_test_proba)

In [73]:
# select the probabilities of only the positive class (class 1 - default)

In [74]:
# we will now create a new DF with actual classes and the predicted probabilities
# create a temp y_test DF to reset its index to allow proper concaternation with y_hat_test_proba

In [75]:
# check the shape to make sure the number of rows is same as that in y_test

In [76]:
# rename the columns

In [77]:
# makes the index of one dataframe equal to the index of another dataframe

## Confusion Matrix and AUROC on Test Set

In [78]:
# assign a threshold value to differentiate good with bad

In [79]:
# crate a new column for the predicted class based on predicted probabilities and threshold
# we will determine this optimal threshold later in this project

In [80]:
# create the confusion matrix

In [81]:
# get the values required to plot a ROC curve

In [82]:
# plot the ROC curve

In [83]:
# plot a secondary diagonal line, with dashed line style and black color to represent a no-skill classifier

In [84]:
# calculate the Area Under the Receiver Operating Characteristic Curve (AUROC) on our test set

In [85]:
# calculate Gini from AUROC

In [86]:
# draw a PR curve
# calculate the no skill line as the proportion of the positive class

In [87]:
# plot the no skill precision-recall curve

In [88]:
# calculate inputs for the PR curve

In [89]:
# calculate inputs for the PR curve

In [90]:
# plot PR curve

In [91]:
# calculate PR AUC

## Applying the Model - Scorecard Creation

In [92]:
# print the summary_table

In [93]:
# create a new dataframe with one column
# its values are the values from the 'reference_categories' list
# name it 'Feature name'

In [94]:
# create a second column called 'Coefficients' which contains only 0 values

In [95]:
# concatenates two dataframes

In [96]:
# we reset the index of a dataframe

In [97]:
# create a new column called 'Original feature name' which contains the value of the 'Feature name' column up to the column symbol

In [98]:
# define the min and max threshholds for our scorecard

In [99]:
# calculate the sum of the minimum coefficients of each category within the original feature name

In [100]:
# calculate the sum of the maximum coefficients of each category within the original feature name

In [101]:
# create a new columns that has the imputed calculated Score based on the multiplication of the coefficient by the ratio of the differences between
# maximum & minimum score and maximum & minimum sum of cefficients

In [102]:
# update the calculated score of the Intercept (i.e. the default score for each loan)

In [103]:
# round the values of the 'Score - Calculation' column and store them in a new column

In [104]:
# check the min and max possible scores of our scorecard

In [105]:
# both our min and max scores are out by +1
# we need to manually adjust this
# to decide which one we'll evaluate based on the rounding differences of the minimum category within each Original Feature Name

In [106]:
# we can get by deducting 1 from the Intercept

In [107]:
# recheck min and max possible scores

## Calculating credit scores for all observations in the test data set

In [108]:
# create a transformed test set through our WoE_Binning custom class

In [109]:
# insert an Intercept column in its beginning to align with the # of rows in scorecard

In [110]:
# get the list of our final scorecard scores

In [111]:
# check the shapes of test set and scorecard before doing matrix dot multiplication

In [112]:
# we can see that the test set has a few less columns than the rows in scorecard due to the reference categories
# since the reference categories will always be scored as 0 based on the scorecard, it is safe to add these categories to the end of test set with 0 values

In [113]:
# need to reshape scorecard_scores so that it is of proper shape to allow for matrix dot multiplication

In [114]:
# matrix dot multiplication of test set with scorecard scores

## Setting loan approval cut-offs

In [115]:
# calculate Youden's J-Statistic to identify the best threshhold

In [116]:
# locate the index of the largest J

In [117]:
# print the best threshold

In [118]:
# this means that based on the Youden's J statistic, this is the ideal probability threshold which minimizes the FPR and maximimizes the TPR
# which means all samples with a predicted probability higher than this should be classified as in Default and vice versa
# this ideal threshold might appear to be counterintuitive compared to the default probability threshold of 0.5 but remember that we used the class_weight parameter when fitting our logistic regression model that would have helped us

# we can confirm this by looking at our original confusion matrix with the updated threshold

In [119]:
# update the threshold value

In [120]:
# crate a new column for the predicted class based on predicted probabilities and threshold

In [121]:
# create the confusion matrix

In [122]:
# the updated confusion matrix would show a marked improvement in the TPR at marginal cost of lower TNR but at the same time, FNR has improved drastically with a corresponding marginal increase in FPR

# find the corresponding acceptance and rejection rates on the test set at this ideal threshold

In [123]:
# create a new DF comprising of the thresholds from the ROC output

In [124]:
# calculate Score corresponding to each threshold

In [125]:
# define a function called 'n_approved' which assigns a value of 1 if a predicted probability is greater than the parameter p which is a threshold and a value of 0 if it is not
# then it sums the column.
# for given any percentage values the function will return the number of rows wih estimated probabilites greater than the threshold

In [126]:
# assuming that all credit applications above a given probability of being 'good' will be approved
# when we apply the 'n_approved' function to a threshold it will return the number of approved applications
# here we calculate the number of approved appliations for all thresholds

In [127]:
# then we calculate the number of rejected applications for each threshold
# it is the difference between the total number of applications and the approved applications for that threshold

In [128]:
# approval rate equals the ratio of the approved applications and all applications

In [129]:
# rejection rate equals one minus approval rate

In [130]:
# look at the approval and rejection rates at our ideal threshold

In [131]:
# compare the above rates with the case of the default 0.5 threshold

In [132]:
# you would find that 0.5 threshold would result in a very high rejection rate with a corresponding loss of business

# we will stick with our ideal threshold and the corresponding Creidt Score of (fill yourself) and can also monitor the model's performance in production if more data were available