In [1]:
import numpy as np 
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt
%matplotlib inline

In [2]:
from sklearn. model_selection import train_test_split, RepeatedStratifiedKFold, cross_val_score
from sklearn.metrics import roc_curve, roc_auc_score, confusion_matrix, precision_recall_curve, auc
from sklearn.linear_model import LogisticRegression
from sklearn.base import  BaseEstimator, TransformerMixin
from sklearn.feature_selection import f_classif
from sklearn.pipeline import Pipeline
from scipy.stats import chi2_contingency

In [3]:
df = pd.read_csv('credit_risk_dataset.csv')

C:\Users\amols\AppData\Local\Temp\ipykernel_4032\2032306817.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('credit_risk_dataset.csv')

In [4]:
df.shape

(466285, 74)

In [5]:
columns_names=df.columns.tolist()
print("Columns names:")
print(columns_names)

Columns names:
['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m']

In [6]:
dtyp = df.dtypes

In [7]:
print(dtyp)

id                    int64
member_id             int64
loan_amnt             int64
funded_amnt           int64
funded_amnt_inv     float64
                     ...
all_util            float64
total_rev_hi_lim    float64
inq_fi              float64
total_cu_tl         float64
inq_last_12m        float64
Length: 74, dtype: object

In [8]:
print (df.describe())

                 id     member_id      loan_amnt    funded_amnt  \
count  4.662850e+05  4.662850e+05  466285.000000  466285.000000
mean   1.307973e+07  1.459766e+07   14317.277577   14291.801044
std    1.089371e+07  1.168237e+07    8286.509164    8274.371300
min    5.473400e+04  7.047300e+04     500.000000     500.000000
25%    3.639987e+06  4.379705e+06    8000.000000    8000.000000
50%    1.010790e+07  1.194108e+07   12000.000000   12000.000000
75%    2.073121e+07  2.300154e+07   20000.000000   20000.000000
max    3.809811e+07  4.086083e+07   35000.000000   35000.000000

       funded_amnt_inv       int_rate    installment    annual_inc  \
count    466285.000000  466285.000000  466285.000000  4.662810e+05
mean      14222.329888      13.829236     432.061201  7.327738e+04
std        8297.637788       4.357587     243.485550  5.496357e+04
min           0.000000       5.420000      15.670000  1.896000e+03
25%        8000.000000      10.990000     256.690000  4.500000e+04
50%       12000.000000      13.660000     379.890000  6.300000e+04
75%       19950.000000      16.490000     566.580000  8.896000e+04
max       35000.000000      26.060000    1409.990000  7.500000e+06

                 dti    delinq_2yrs  ...  total_bal_il  il_util  open_rv_12m  \
count  466285.000000  466256.000000  ...           0.0      0.0          0.0
mean       17.218758       0.284678  ...           NaN      NaN          NaN
std         7.851121       0.797365  ...           NaN      NaN          NaN
min         0.000000       0.000000  ...           NaN      NaN          NaN
25%        11.360000       0.000000  ...           NaN      NaN          NaN
50%        16.870000       0.000000  ...           NaN      NaN          NaN
75%        22.780000       0.000000  ...           NaN      NaN          NaN
max        39.990000      29.000000  ...           NaN      NaN          NaN

       open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  \
count          0.0         0.0       0.0      3.960090e+05     0.0
mean           NaN         NaN       NaN      3.037909e+04     NaN
std            NaN         NaN       NaN      3.724713e+04     NaN
min            NaN         NaN       NaN      0.000000e+00     NaN
25%            NaN         NaN       NaN      1.350000e+04     NaN
50%            NaN         NaN       NaN      2.280000e+04     NaN
75%            NaN         NaN       NaN      3.790000e+04     NaN
max            NaN         NaN       NaN      9.999999e+06     NaN

       total_cu_tl  inq_last_12m
count          0.0           0.0
mean           NaN           NaN
std            NaN           NaN
min            NaN           NaN
25%            NaN           NaN
50%            NaN           NaN
75%            NaN           NaN
max            NaN           NaN

[8 rows x 52 columns]

In [9]:
df.columns[df.isnull().mean() < 0.8]

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

In [10]:
pct_null = df.isnull().sum() / len(df)
missing_features = pct_null[pct_null > 0.80].index
df.drop(missing_features, axis=1, inplace=True)

In [11]:
df.shape

(466285, 56)

In [12]:
duplicate_cols = df.columns[df.columns.duplicated()] 
df.drop(columns=duplicate_cols, inplace=True)

In [13]:
df.shape

(466285, 56)

In [14]:
print (df.describe())

                 id     member_id      loan_amnt    funded_amnt  \
count  4.662850e+05  4.662850e+05  466285.000000  466285.000000
mean   1.307973e+07  1.459766e+07   14317.277577   14291.801044
std    1.089371e+07  1.168237e+07    8286.509164    8274.371300
min    5.473400e+04  7.047300e+04     500.000000     500.000000
25%    3.639987e+06  4.379705e+06    8000.000000    8000.000000
50%    1.010790e+07  1.194108e+07   12000.000000   12000.000000
75%    2.073121e+07  2.300154e+07   20000.000000   20000.000000
max    3.809811e+07  4.086083e+07   35000.000000   35000.000000

       funded_amnt_inv       int_rate    installment    annual_inc  \
count    466285.000000  466285.000000  466285.000000  4.662810e+05
mean      14222.329888      13.829236     432.061201  7.327738e+04
std        8297.637788       4.357587     243.485550  5.496357e+04
min           0.000000       5.420000      15.670000  1.896000e+03
25%        8000.000000      10.990000     256.690000  4.500000e+04
50%       12000.000000      13.660000     379.890000  6.300000e+04
75%       19950.000000      16.490000     566.580000  8.896000e+04
max       35000.000000      26.060000    1409.990000  7.500000e+06

                 dti    delinq_2yrs  ...     recoveries  \
count  466285.000000  466256.000000  ...  466285.000000
mean       17.218758       0.284678  ...      85.344211
std         7.851121       0.797365  ...     552.216084
min         0.000000       0.000000  ...       0.000000
25%        11.360000       0.000000  ...       0.000000
50%        16.870000       0.000000  ...       0.000000
75%        22.780000       0.000000  ...       0.000000
max        39.990000      29.000000  ...   33520.270000

       collection_recovery_fee  last_pymnt_amnt  collections_12_mths_ex_med  \
count            466285.000000    466285.000000               466140.000000
mean                  8.961534      3123.913796                    0.009085
std                  85.491437      5554.737393                    0.108648
min                   0.000000         0.000000                    0.000000
25%                   0.000000       312.620000                    0.000000
50%                   0.000000       545.960000                    0.000000
75%                   0.000000      3187.510000                    0.000000
max                7002.190000     36234.440000                   20.000000

       mths_since_last_major_derog  policy_code  acc_now_delinq  tot_coll_amt  \
count                 98974.000000     466285.0   466256.000000  3.960090e+05
mean                     42.852547          1.0        0.004002  1.919135e+02
std                      21.662591          0.0        0.068637  1.463021e+04
min                       0.000000          1.0        0.000000  0.000000e+00
25%                      26.000000          1.0        0.000000  0.000000e+00
50%                      42.000000          1.0        0.000000  0.000000e+00
75%                      59.000000          1.0        0.000000  0.000000e+00
max                     188.000000          1.0        5.000000  9.152545e+06

        tot_cur_bal  total_rev_hi_lim
count  3.960090e+05      3.960090e+05
mean   1.388017e+05      3.037909e+04
std    1.521147e+05      3.724713e+04
min    0.000000e+00      0.000000e+00
25%    2.861800e+04      1.350000e+04
50%    8.153900e+04      2.280000e+04
75%    2.089530e+05      3.790000e+04
max    8.000078e+06      9.999999e+06

[8 rows x 34 columns]

In [15]:
df.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [16]:
df.insert(16,"target_variable", " ")

In [18]:
df.shape

(466285, 57)

In [19]:
df.drop('loan_status', inplace=True, axis=1)

In [20]:
df.shape

(466285, 56)

In [22]:
df = df.loc[:,~df.columns.duplicated()]